/************************************************************************** PRINCIPAL **************************************************************************/
/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  padding: 20px;
}

sub-header-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid gray;

}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.mode-toggle-button {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mode-toggle-button:hover {
  background-color: #999;
  color: #fff;
}

.mode-toggle-button:hover {
  cursor: pointer;
}


main {
  flex-grow: 1;
  overflow-y: auto;
  padding: 40px;
}

section {
  margin-bottom: 40px;
}

sub-head-img h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: dodgerblue;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

footer {
  background-color: #333; /* Cor de fundo do rodapé */
  padding: 20px;
  text-align: center;
  color: #fff; /* Cor do texto do rodapé */
}

/* Estilos para a seção Home */
#home {
  text-align: center;
  padding: 40px;
  color: midnightblue;
}

/* Estilos para a seção Projetos */
#projects {
  overflow: hidden;
}

.project {
  width: 30%;
  float: left;
  text-align: center;
}

.project img {
  width: 100%;
  max-width: 200px; /* Ajuste o tamanho máximo da imagem conforme necessário */
}

.project p {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.project h3 {
  margin-top: 10px;
}

/* Estilos para a seção Habilidades */
#skills {
  overflow: hidden;
}

.skill {
  width: 33.33%; /* Dividindo em 3 colunas */
  float: left;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.skill img {
  width: 100%;
  max-width: 200px; /* Ajuste o tamanho máximo da imagem conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  margin-top: 10px;
}

.skill h3 {
  margin-top: 10px;
}

/* Estilos para a seção Habilidades 2 */
#skills2 {
  overflow: hidden;
}

.skill2 {
  width: 100%; /* Largura total */
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.skill2 img {
  width: 100%;
  max-width: 200px; /* Ajuste o tamanho máximo da imagem conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  margin-top: 10px;
}

.skill2 h3 {
  margin-top: 10px;
}

/* Estilos para a seção Contato */
#contact {
  text-align: center;
  padding: 40px;
}

/************************************************************************** LIGHT MODE **************************************************************************/

/* Estilos para os títulos das seções */
h2 {
  color: #fff; /* Cor do texto dos títulos */
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Estilos para os parágrafos dentro das seções */
section p {
  color: #ccc; /* Cor do texto dos parágrafos */
  font-size: 16px;
  line-height: 1.5;
}


/* Estilos para o modo claro */
body.light {
  background-color: #fff; /* Cor de fundo clara */
  color: #111; /* Cor do texto */
}

/* Estilos para os links no modo claro */
body.light nav ul li a {
  color: #fff; /* Cor dos links do menu */
}

/* Estilos para os links no modo claro */
body.light main p {
  color: #111; /* Cor dos links do menu */
}

/* Estilos para os links no modo claro */
body.light main h2 {
  color: #111; /* Cor dos links do menu */
}

a {
  color: white;
  text-decoration: none;
}

.center {
  text-align: center;
}

/************************************************************************** DARK MODE **************************************************************************/


body.dark #home {
  text-align: center;
  padding: 40px;
  color: grey;
}

/* Estilos para o modo escuro */
body.dark {
  background-color: #111; /* Cor de fundo escura */
  color: #fff; /* Cor do texto */
}

/* Estilos para os links no modo escuro */
body.dark nav ul li a {
  color: #fff; /* Cor dos links do menu */
}