/* Reset de estilos */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-color: #111; /* Cor de fundo escura */
  color: darkgrey; /* Cor do texto */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Padrão */
}
body main{
  font-family: Consolas, monospace;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111; /* Cor de fundo escura */
  color: ghostwhite; /* Cor do texto */
  margin: 0px 180px 0; /* Espaçamento de 100px para cima e nas laterais, sem espaçamento na parte inferior */
  padding: 0;
}

#header {
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: transparent; /* Cor de fundo */
}

.header__left_up img{
  width: 100px;
  margin: 20px;
}

.header__left_up p {
  font-size: 22px;
  padding-top: 10px;
  font-family: 'Grand Hotel',cursive;
}
.header__right_center ul li a {
padding-right: 100px; /* Espaçamento vertical direito */
padding-left: 100px; /* Espaçamento vertical esquerdo */
margin-top: 100px;
font-weight: bold;
}

.item img {
  width: 30px;
}

.item p {
color: #ccc;
}
.item span {
  color: #fff;
}
.item a {
  display: flex;
  align-items: center;
  padding-right: 10px;
  font-weight: bold;
}

.wrap {
display: flex;
justify-content: space-between;
}

/* Ajusta o tamanho do player de áudio */
audio {
  align-self: center;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.sub-header-img {
  margin: 0px 0px 100px; /* Espaçamento de 100px para cima e nas laterais, sem espaçamento na parte inferior */
  text-align: center;
}


.sub-header-img .center img {
width: 250px;
height: 250px;
border-radius: 50%;
border: 5px solid darkgray;
text-align: center;
}

.sub-header-img h1 {
text-align: center;
color: dodgerblue;

}

.sub-header-img h2 {
text-align: center;
font-size: 12px;
color: darkgrey;

}


a {
text-decoration: none; /* Remove o sublinhado */
color: inherit; /* Herda a cor do texto pai */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 18px;
  font-weight: bold;
  background-color: #333;
  padding: 10px 20px; /* Adiciona espaço interno para criar um botão */
  border-radius: 4px; /* Arredonda as bordas do botão */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na cor de fundo ao passar o mouse */
}

nav ul li a:hover {
  background-color: #555; /* Altera a cor de fundo ao passar o mouse */
}


h2 {
font-size: 24px;
margin-bottom: 10px;
color: darkturquoise;
}

footer {
background-color: #333; /* Cor de fundo do rodapé */
text-align: center;
font-size: 16px;
margin: 0px 0px 0; /* Espaçamento de 100px para cima e nas laterais, sem espaçamento na parte inferior */
padding: 20px;

}


footer a {
font-weight: bold;
color: #fff;

}

footer p {
color: #ccc;
}
/* Estilos para a seção Home */
#home {
background-color: #333; /* Cor de fundo do rodapé */
text-align: center;
font-size: 12px;
margin: 0px 0px 100px; /* Espaçamento de 100px para cima e nas laterais, sem espaçamento na parte inferior */
padding: 30px 0px 30px;
color: dodgerblue;
}

#sobre-mim {
  margin: 0px 0px 100px; /* Espaçamento de 100px para cima e nas laterais, sem espaçamento na parte inferior */
}
#sobre-mim p {

  transition: transform 0.5s ease-in-out;
}

#sobre-mim p:hover {
  transform: scale(0.95);
}

#sobre-mim a {

  color: #ccc;
}

#sobre-mim a:hover {
  color: dodgerblue; /* Define a cor dos links como vermelho quando o mouse estiver sobre eles */
}

#projects {
  margin: 0px 0px 100px; /* Espaçamento de 100px para cima e nas laterais, sem espaçamento na parte inferior */
  overflow: hidden;

}

.project-container {
  display: flex;
  overflow: hidden;
}

.project {
  width: 50%; /* Dividindo em 3 colunas */
  float: left;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.project:hover {
  transform: scale(0.9);
}

.project img {
  width: 250px;
  height: 250px;
}

.project-details p i {
  text-align: left;
}


.project-details {
  margin-top: 10px;
}

.project h3 {
  margin-top: 10px;
}

.project p {
  margin-top: 10px;
  align-items: center;
}


/* Estilos para a seção Habilidades */
#skills {
margin: 0px 0px 100px; /* Espaçamento de 100px para cima e nas laterais, sem espaçamento na parte inferior */
padding: 0;
overflow: hidden;
}

.skill {
width: 25%; /* Dividindo em 3 colunas */
float: left;
text-align: center;
padding: 10px;
box-sizing: border-box;
transition: transform 0.5s ease-in-out;
position: relative;
}

.skill:hover {
  transform: scale(0.9);
}

.skill img {
  width: 125px;
  height: 125px;
}

.skill h3 {
margin-top: 10px;
}

.skill p {
  color: white;
  font-weight: bold;
  }

/* Estilos para os parágrafos dentro das seções */
section p {
color: #999; /* Cor do texto dos parágrafos */
font-size: 16px;
line-height: 1.5;
}

img[src^="./assets/emojis/"] {
width: 16px;
height: 16px;
}

